<ion-view title="Personas">
	<ion-content>
		<a class="item item-icon-left" ng-click="listCtrl.openModal()" ng-repeat="person in listCtrl.personsData" ng-if="person.activo === 1">
			<i class="icon ion-person balanced"></i>
			{{person.nombre}} {{person.apellido}}
			<span class="item-note">
				{{person.rut}}
			</span>
		</a>

		<script id="personDetail.html" type="text/ng-template">
			<ion-modal-view>
				<ion-header-bar class="bar bar-header bar-energized" align-title="center">
					<h1 class="title">Detalle</h1>
					<button class="button button-clear button-primary" ng-click="listCtrl.closeModal()">Cerrar</button>
				</ion-header-bar>
				<ion-content>
					Hello!
				</ion-content>
			</ion-modal-view>
		</script>

	</ion-content>
</ion-view>
